@charset "UTF-8";
/**
 * 
 * @authors yuqiu (yuqiu_xa@netposa.com)
 * @date    2014-11-26 18:37:35
 * @version $Id$
 */

.np-icon-bar{
	background-image: url(../images/sprite/aa.png);
	width: 22px;
  	height: 12px;
  }

.np-icon-bar:hover{
	background-image: url(../images/sprite/aa_hover.png);
	width: 16px;
  	height: 16px;
}